<div class="container">

    <div class="row float-center">
        <div class="col text-center ">
            <a href="#" class="btn btn-danger blanc btn-sm">Bonne réponse</a><a href="#" class="btn btn-danger blanc btn-sm">Mauvaise réponse</a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-success blanc margin-auto">Reset Buzzer</a>
        </div>
        <div class="col text-center">
            <a href="#" class="btn btn-info blanc margin-auto">Phase suivante</a>
        </div>

        <div class="col text-center ">
            &nbsp; <a href="#" class="btn btn-mayo btn-sm float-right">Bonne réponse</a><a href="#" class="btn btn-mayo blanc btn-sm float-right">Mauvaise réponse</a>&nbsp;

        </div>
    </div>

</div>
